.container {
  position: absolute;
  top: var(--header-height);
  right: 1rem;
  min-width: 105px;
  height: auto;
  background-color: var(--black3);
  border-radius: var(--br2);
  box-shadow: var(--bs1);
  z-index: var(--z-toast);
  border: 1px solid var(--grey9);
  overflow: hidden;
  flex-direction: column;
  padding: .25rem 0;
}

.container:focus-visible {
  outline: none;
}

.container li {
  text-transform: capitalize;
  padding: .375rem .5rem;
  min-height: 2rem;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  font-size: .75rem;
  color: var(--grey4);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.container li svg {
  fill: var(--grey4);
}

.container li:hover,
.container li:active,
.container li:focus-visible {
  background-color: var(--sebg1);
  color: var(--secolor1);
}

.container li[data-active-tab="true"] {
  background-color: var(--sebg1);
  color: var(--secolor1);
}

.container li[data-theme-active="true"]:hover svg {
  fill: var(--secolor1);
}