.container {
  height: 100%;
  width: 100%;
}

.log {
  position: relative;
  max-width: 90%;
  padding: 1rem;
  margin: 1rem 0 1rem 1rem;
  min-height: 360px;
  max-height: 360px;
  height: 100%;
  border-radius: var(--br2);
  overflow: hidden auto;
  border: 1px solid var(--grey8);
}

.usersSkel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  border-radius: var(--br2);
}

.log-item {
  display: flex;
  flex-direction: row;
  line-height: 1.25;
  font-weight: 400;
  font-size: .875rem;
}

.log-item * {
  font-family: var(--monospaceFont) !important;
}

.log-item--id {
  width: 2.5rem;
  color: var(--grey1);
}

.log-item--content {
  color: var(--grey4);
  width: calc(100% - 2.5rem);
}