@font-face {
  font-family: 'Adjusted Arial Fallback';
  src: local(arial);
  descent-override: 20%;
  size-adjust: 103%;
  ascent-override: 94%;
  font-style: normal;
  font-weight: 400;
}

:root {
  --secondaryFont: 'Adjusted Arial Fallback';

  /* Specific elements */
  --link: #0089ae;

  /* primary/secondary/shared-color */
  --primary1: #50e3c2;
  --primary2: #50e3c2;
  --primary3: #29bc9b;
  --valid1: var(--grey8);
  --secondary1: #3291ff;
  --secondary2: #0070f3;
  --secondary3: #0761d1;
  --secondary1-offset: #0761d1;
  --warn1: #f5a623;
  --warn1-offset: #ab570a;
  --invalid1: #f33;
  --invalid1-offset: #e60000;
  --invalid2-offset: #5c0000;
  --invalid3-offset: #2e0000;

  /* convert color to primary */
  --convert-to-primary: invert(33%) sepia(61%) saturate(1000%) hue-rotate(171deg) brightness(90%) contrast(101%);

  /* Z indices */
  --z-main: 500;
  --z-footer: 600;
  --z-sidebar: 700;
  --z-header: 800;
  --z-aside: 900;
  --z-modal: 1000;
  --z-toast: 1100;

  /* border-radius */
  --br1: 6px;
  --br2: .375rem;
  --br3: 10px;
  --br4: 12px;
  --brhalf: 50%;
  --brfull: 9999px;

  /* padding */
  --p1: 5px;
  --p2: 8px;
  --p3: 10px;
  --p4: 12px;
  --p5: 15px;
  --p6: 20px;
  --p7: 25px;
  --p8: 30px;
  --p9: 35px;

  /* constant width/height */
  --header-height: 3.5rem;
  --footer-height: 5rem;
  --main-min-height: calc(100vh - var(--header-height));
  --max-width-md: 1200px;
  --max-width-lg: 1320px;

  /* FORM */
  --min-form-width: 400px;
  --max-form-width: 440px;
  --form-input-height: 2.25rem;

  /* Transition helpers */
  --duration-1: 150ms;
  --bez-1: cubic-bezier(.4, 0, .2, 1);
  --bez-2: cubic-bezier(.33, 1, .68, 1);
  --bez-3: cubic-bezier(.25, .75, .6, .98);
  --bez-4: cubic-bezier(.25, .75, .6, .98);
  --bez-boxshadow: cubic-bezier(0, 0, 0.2, 1);

  /* ************************************* */

  /* LIGHT THEME */
  --secolor1:#076fe7;
  --sebg1: #f0f7ff;
  --grey1: #050505;
  --grey2: #0a0a0a;
  --grey3: #1a1a1a;
  --grey4: #2b2b2b;
  --grey5: #5c5c5c;
  --grey6: #8c8c8c;
  --grey7: #adadad;
  --grey8: #bfbfbf;
  --grey9: #d9d9d9;
  --grey10: #e8e8e8;
  --grey11: #f5f5f5;

  /* black */
  --black1: #f6f6f4;
  --black2: #eaeae8;
  --black3: #f6f6f4;
  --black4: #d8d8d5;
  --black5: hsla(180deg, 0%, 100%, 0.02);

  /* white */
  --white1: #000;
  --white2: #050505;
  --white3: #595959;
  --white4: #5e5e55;
  --white5: #777;

  /* specific */
  --selection: rgb(7, 227, 212);
  --border-color1: var(--grey8);
  --border-color2: var(--grey7);
  --border1: 1px solid var(--border-color1);
  --border-primary1: 1px solid var(--secondary1);
  --placeholder1: var(--grey5);

  /* offset colors */
  --offsetblack0: rgba(255, 255, 255, 0.9);
  --offsetblack1: rgba(255, 255, 255, 0.6);
  --offsetblack2: rgba(255, 255, 255, 0.3);
  --offsetblack3: #f3f3f1;
  --offsetwhite1: rgba(0, 0, 0, 0.05);
  --offsetwhite2: rgba(0, 0, 0, 0.1);
  --inset1: rgba(238, 238, 238, 0.3);
  --inset2: rgba(238, 238, 238, 0.2);
  --bsout1: rgba(0, 0, 0, .2);
  --bsout2: rgba(0, 0, 0, .1);
  --bsout3: rgba(255, 255, 255, 0.2);
  --bs1: 0 24px 43px 0 rgba(173, 179, 192, 0.05);
  --bs2: 0 24px 43px 0 rgba(173, 179, 192, 0.25);
  --bs3: rgba(0, 0, 0, 0.08) 0 3px 5px;
  --bs-md:
    var(--bsout1) 0 1px 1px 0,
    var(--bsout2) 0 2px 1px 1px;
  --bs-lg:
    0 30px 60px var(--bsout2);
  --bs-inset1:
    inset 0 0 10px 8px var(--inset1),
    inset 0 0 10px 8px var(--inset2);
  --linear1: linear-gradient(0deg,
      var(--offsetwhite1),
      var(--offsetwhite1)),
    radial-gradient(50% 50% at 50% 100%,
      var(--offsetwhite2) 0%,
      transparent 100%);
  --linear2: linear-gradient(270deg, var(--grey10), var(--grey9), var(--black4), var(--grey9));
}

[data-theme="dark"] {
  --secolor1:#0384d9;
  --sebg1: #22313c;

  /* grey */
  --grey1: #fafafa;
  --grey2: #f5f5f5;
  --grey3: #e5e5e5;
  --grey4: #d4d4d4;
  --grey5: #a3a3a3;
  --grey6: #737373;
  --grey7: #525252;
  --grey8: #404040;
  --grey9: #262626;
  --grey10: #171717;
  --grey11: #0a0a0a;

  /* black */
  --black1: #09090b;
  --black2: #151517;
  --black3: #0c0c0e;
  --black4: #27272a;
  --black5: hsla(0deg, 0%, 100%, 0.01);

  /* white */
  --white1: #fff;
  --white2: #fafafa;
  --white3: #a6a6a6;
  --white4: #a1a1aa;
  --white5: #888;

  /* specific */
  --selection: #f81ce5;
  --border-color1: var(--grey9);
  --border-color2: var(--grey7);
  --border1: 1px solid var(--border-color1);
  --border-primary1: 1px solid var(--secondary1);
  --placeholder1: var(--grey5);

  /* offset colors */
  --offsetblack0: rgba(0, 0, 0, .9);
  --offsetblack1: rgba(0, 0, 0, .6);
  --offsetblack2: rgba(0, 0, 0, .3);
  --offsetblack3: #0a0a0c;
  --offsetwhite1: rgba(255, 255, 255, .05);
  --offsetwhite2: rgba(255, 255, 255, .1);
  --inset1: rgba(17, 17, 17, .6);
  --inset2: rgba(17, 17, 17, .2);
  --bsout1: rgba(0, 0, 0, .8);
  --bsout2: rgba(20, 20, 23, 0.5);
  --bsout3: rgba(0, 0, 0, .2);
  --bsout4: rgba(5, 5, 6, 0.6);
  --f1: 30;
  --f2: rgba(var(--f1), var(--f1), var(--f1), .5);

  /* box-shadow */
  --bs1:
    rgba(0, 0, 0, 0.14) 0 8px 10px 1px,
    rgba(0, 0, 0, 0.12) 0 3px 14px 2px,
    rgba(0, 0, 0, 0.2) 0 2px 4px -1px;
  --bs2:
    0 5px 14px 0 rgba(39, 39, 42, .2),
    0 18px 36px 0 rgba(39, 39, 42, .12);
  --bs3: rgba(255,255,255, 0.04) 0 3px 5px;
  --bs-md: var(--bsout1) 0 1px 2px 0,
    var(--bsout2) 0 1px 3px 0;
  --bs-lg:
    0 20px 40px var(--bsout2);
  --bs-inset1:
    inset 0 0 10px 8px var(--inset1),
    inset 0 0 10px 8px var(--inset2);

  /* gradient */
  --linear1: linear-gradient(0deg,
      var(--offsetwhite1),
      var(--offsetwhite1)),
    radial-gradient(50% 50% at 50% 100%,
      var(--offsetwhite2) 0%,
      transparent 100%);
  --linear2: linear-gradient(270deg, var(--grey10), var(--grey9), var(--black4), var(--grey9));
  --box-shadow1:
    --box-shadow2-hover: rgba(60, 64, 67, 0.302) 0 4px 4px 0,
    rgba(60, 64, 67, 0.149) 0 8px 10px 4px;
  --box-shadowbottom:
    rgba(0, 0, 0, 0.1) 3px 4px 5px 0s,
    rgba(0, 0, 0, 0.1) 3px 3px 6px 0,
    rgba(0, 0, 0, 0.2) 3px 3px 4px -1px;
  --box-shadowinset1:
    rgba(0, 0, 0, 0.2) inset 3px 4px 5px 0,
    rgba(0, 0, 0, 0.1) inset -1px -2px 3px 0,
    rgba(0, 0, 0, 0.1) inset 3px 3px 6px 0,
    rgba(0, 0, 0, 0.2) inset 3px 3px 4px -1px;
  --box-shadow-sbfixed:
    rgba(0, 0, 0, .3) 4px 6px 6px 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

html {
  font-feature-settings: normal;
  font-size: 18px;
  font-variation-settings: normal;
  line-height: 1.15;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: var(--inter);
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: var(--inter);
  background-color: var(--black1);
  color: var(--white1);

  /* font-family: var(--font-sans); */
  font-size: 1rem;
  font-weight: 400;
  line-height: inherit;
  -webkit-tap-highlight-color: transparent;
  text-rendering: geometricprecision;
  position:relative;
}

#root {
  width: 100%;
  height: 100%;
  background-color: var(--black1);
  color: var(--white1);
  font-family: var(--inter);
}

/* adaptive font sizes
===================================== */
@media screen and (max-width: 1020px) {
  html {
    font-size: 16px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    transition-duration: none !important;
    transition-property: none !important;
    transition-timing-function: none !important;
  }
}