/*
@fileoverview:
Ideally you'd want to modudlarize this and import components
when necessary, but I'm still fine tuning this and changing
it up a lot.

- Layout
- Buttons
- Form Elements
  - Input
  - Label
- Links
- SVG
- Text
- Flex
- General Utilities
- Transition Utilities
- Popup Utilities
- ID Specific, Project Specific
*/

/* LAYOUT
=============================================== */

.base {
  display: flex;
  width: 100%;
  max-width: var(--max-width-md);
  height: 100% !important;
  min-height: 100% !important;
  flex-direction: column;
  margin: 0 auto;
  overflow-y: scroll;
}

/* BUTTONS: 
- specifically made to be compatible with forms
- and in combination with a few data attributes like:
1. data-has-error=boolean
2. data-has-warn=boolean
3. data-has-check=boolean
=============================================== */
.btn-1,
.btn-2,
.btn-3,
.btn-4,
.btn-primary1,
.btn-icon1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--br1);
  outline: 1px solid transparent;
  transition-duration: var(--duration-1);
  transition-property: color, background-color, border-color;
  transition-timing-function: var(--bez-1);
  white-space: nowrap;
}

.btn-1 {
  padding: var(--p2) var(--p3);
  border: var(--border-primary1);
  background-color: var(--primary1);
  color: var(--white1);
  font-size: .875rem;
  font-weight: 400;
  letter-spacing: .05em;
  line-height: 1.25rem;
  text-transform: uppercase;
}

.btn-2,
.btn-3,
.btn-4,
.btn-primary1 {
  padding: 0.5rem 1rem;
  border: var(--border1);
  color: var(--grey3);
}

.btn-2,
.btn-3,
.btn-4 {
  font-size: 0.825rem;
  font-weight: 400;
}

.btn-3,
.btn-4 {
  font-weight: 400;
  line-height: 1rem;
}

.btn-2 {
  height: 2.5rem;
  background-color: var(--black2);
  line-height: 1.25rem;
}

.btn-3 {
  height: 2.25rem;
  background-color: transparent;
}

.btn-4 {
  width: min-content;
  height: 2.5rem;
  padding: 0 2rem;
  background-color: var(--black1);
}

.btn-primary1 {
  width: 100%;
  height: 2.5rem;
  border-color: var(--secondary1);
  margin-left: auto;
  background-color: var(--secondary1);
  color: #fff;
  font-size: .85rem;
}

.btn-icon1 {
  width: 2.25rem;
  height: 2.25rem;
  max-width: 2.25rem;
  max-height: 2.25rem;
  color: var(--white1) !important;
  fill: var(--white1) !important;
  border-radius: var(--brhalf);
}

.btn-icon1:active {
  background: var(--grey8);
}

.btn-icon1:disabled {
  pointer-events: none;
  user-select: none;
  background-color: var(--grey4);
  color: var(--black2) !important;
}

.btn-1:not(:disabled):hover,
.btn-2:not(:disabled):hover,
.btn-3:not(:disabled):hover,
.btn-4:not(:disabled):hover {
  border-color: var(--grey9);
  background-color: var(--black2);
}

.btn-icon1:not(:disabled):focus-visible,
.btn-icon1:not(:disabled):hover {
  background: var(--black2);
}

.btn-1:not(:disabled):focus-visible,
.btn-4:not(:disabled):focus-visible {
  border-color: var(--grey9);
  outline: 2px solid var(--grey8) !important;
}

.btn-2:not(:disabled):focus-visible,
.btn-3:not(:disabled):focus-visible {
  outline: 1.5px dotted var(--white1);
}

.btn-1:not(:disabled):active,
.btn-2:not(:disabled):active,
.btn-3:not(:disabled):active,
.btn-4:not(:disabled):active {
  border-color: var(--grey9) !important;
  background-color: var(--grey10) !important;
}

.btn-primary1:not(:disabled):hover {
  background-color: var(--secondary2) !important;
}

.btn-primary1:not(:disabled):focus-visible {
  outline: 3px solid var(--secondary1-offset) !important;
}

.btn-primary1:not(:disabled):active {
  background-color: var(--secondary3) !important;
}

/* FORM ELEMENTS
===================================== */
.input-1 {
  width: 100%;
  min-width: 100%;
  height: 2.5rem;
  background-color: var(--black1);
  font-size: 0.8rem;
  outline: 2px solid transparent;
  transition-duration: var(--duration-1);
  transition-property: color, background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-1:hover,
.input-1:focus-visible {
  outline: 2px solid var(--grey10);
}

/* .input-1:invalid, */
.input-1[data-has-error="true"] {
  border-color: var(--invalid2-offset);
  outline: 2px solid var(--invalid1-offset);
}

.input-1[data-has-warn="true"] {
  border-color: var(--warn1) !important;
  outline: 2px solid var(--warn1-offset) !important;
}

.label-1,
.label-2 {
  width: 100%;
  padding-left: 2px;
  color: var(--grey4);
  font-size: 0.825rem;
  font-weight: 400;
  line-height: 2rem;
  pointer-events: none;
  text-transform: capitalize;
  user-select: none;
}

/* Checkbox
To construct a custom checkbox, use the following markup:
- Note that the label text 'txt' is not visible, but I've found
that in most cases, not having any text at all causes the label
to not be 'associated' with the input. So add some text, but make
it short and sweet since it technically still affects layout.
<div className='checkbox-1'>
  txt
  <label htmlFor='checkboxInput' data-has-check={checkState}>
    <input 
      aria-checked={checkState}
      aria-labelledby='remember'
      checked={checkState}
      id='checkboxInput'
      type='checkbox'
      onClick={() => setCheckState((prev) => !prev)}
    />
  </label>
</div>
============================================================= */
.checkbox-1 {
  position: relative;
  display: flex;
  width: 1.25rem;
  height: 1.25rem;
  flex-direction: column-reverse;
  justify-content: center;
}

.checkbox-1 input {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px !important;
  margin: 0;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0;

  /* outline: none; */
}

.checkbox-1 label {
  position: relative;
  z-index: 4;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: var(--border1);
  border-color: var(--border-color2);
  border-radius: 5px;

  /* checkbox check svg converted to data uri */
  background-image: url("data:image/svg+xml;base64,PHN2ZyBzdHJva2U9IndoaXRlIiBmaWxsPSJub25lIiBzdHJva2Utd2lkdGg9IjAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgaGVpZ2h0PSIxZW0iIHdpZHRoPSIxZW0iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBvbHlsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZS13aWR0aD0iMiIgcG9pbnRzPSI2IDEzIDEwLjIgMTYuNiAxOCA3Ij48L3BvbHlsaW5lPjwvc3ZnPg==");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
  color: transparent !important;
  cursor: pointer;
}

.checkbox-1 label span {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.checkbox-1 label span svg {
  opacity: 0;
}

.checkbox-1 label[data-has-check="false"]::after {
  position: absolute;
  z-index: 1002;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black1);
  content: '';
}

.checkbox-1 label[data-has-check="true"] {
  border-color: var(--secondary1) !important;
  background-color: var(--secondary1);
}

.checkbox-1 label:focus-within {
  border-color: var(--secondary2) !important;
  outline: 2px solid var(--secondary1-offset) !important;
}

.checkbox-1 label[data-has-check="true"] span svg {
  fill: #fff !important;
  opacity: 1;
}

/* Links <a>
===================================== */
.link-1[data-link-disabled="true"],
.link-2[data-link-disabled="true"] {
  pointer-events: none !important;
  user-select: none !important;
  opacity: .6;
}

.link-2 {
  background-color: var(--black2);
  border-radius: var(--br1);
}

.link-2:hover {
  background-color: var(--grey9);
}

.link-1:not(:disabled):active,
.link-2:not(:disabled):active {
  background-color: var(--grey10);
}

.link-1:not(:disabled):focus-visible,
.link-2:not(:disabled):focus-visible {
  background-color: var(--grey10);
}

/* SVG
===================================== */
.icon-xs {
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  user-select: none;
}

.svg-1 {
  width: 2rem;
  height: 2rem;
}

.svg-2 {
  width: 1.75rem;
  height: 1.75rem;
}

.svg-3 {
  width: 1.5rem;
  height: 1.5rem;
}

.svg-4 {
  width: 1.25rem;
  height: 1.25rem;
}

.svg-5 {
  width: 1rem;
  height: 1rem;
}

.svg-6 {
  width: .875rem;
  height: .875rem;
}

/* TEXT
===================================== */
.text-base {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.text-sm {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.text-lg {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  line-height: 1.75rem
}

.text-2xl {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 2.5rem;
}

/* FLEX
===================================== */
.flex-ac {
  display: flex;
  align-items: center;
}

.flex-ac-jc {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* GENERAL UTILITIES
===================================== */
.clip-1,
.clip-1 > * {
  background-clip: text !important;
  color: transparent !important;
  -webkit-text-stroke: 0.04em var(--grey4) !important;
  -webkit-text-stroke-width: 0.03em;
}

.body-prevent-scroll {
  overflow: hidden;
}

.scrollbar-measure {
  position: absolute;
  overflow: scroll;
  visibility: hidden;
}

.relative-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

/* TRANSITION UTILITIES
===================================== */
[data-disable-transitions="true"] * {
  animation: none !important;
  transition: none !important;
  transition-duration: none !important;
  transition-property: none !important;
  transition-timing-function: none !important;
}

/* POPUP UTILITIES
===================================== */
[data-active-popup="false"] {
  z-index: -1 !important;
  top: 0;
  left: 0;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  opacity: 0 !important;
  pointer-events: none !important;
  transition: opacity 200ms ease-in-out;
  user-select: none !important;
  visibility: hidden !important;
}

[data-active-popup="true"] {
  z-index: 9999;
  width: 100%;
  height: 100%;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 200ms ease-in-out;
  user-select: auto;
  visibility: visible;
}

/* ID SPECIFIC / PROJECT SPECIFIC
===================================== */
#github-btn {
  border-color: #5f6c7e;
  background-color: #24292f;
  color: #fff;
  fill: #fff;
}

#github-btn:not(:disabled):focus-visible {
  outline: 2px solid #5f6c7e !important;
}

#github-btn:not(:disabled):active {
  border-color: #2f363e !important;
  background-color: #2f363e !important;
}

#google-btn {
  border-color: var(--offsetwhite1);
}