.pass-reveal {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0 var(--br1) var(--br1) 0 !important;
  background-color: var(--black2);
}

.pass-reveal svg {
  stroke: var(--grey4);
  height: 1.25rem;
  width: 1.25rem;
}

.pass-reveal:hover {
  background-color: var(--grey9) !important;
}

.pass-reveal:focus-visible {
  background-color: var(--grey9) !important;
  outline: none !important;
}
