.header {
  position: fixed;
  z-index: var(--z-header);
  top: 0;
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 100vw;
  height: var(--header-height) !important;
  min-height: var(--header-height) !important;
  align-items: center;
  margin: 0 auto;
  /* backdrop-filter: saturate(180%) blur(5px); */
  background-color: rgba(15, 17, 18, .5);
}

.content {
  display: flex;
  width: 100%;
  max-width: var(--max-width-lg);
  height: 100%;
  padding: 0 var(--p2);
  margin: 0 auto;
}

.col1,
.col2,
.col3 {
  display: flex;
  width: auto;
  height: 100%;
  align-items: center;
  color: #d4d4d4 !important;
}

.col1 {
  justify-content: center;
  padding: 0 .375rem;
}

.col2 {
  width: 100%;
  justify-content: flex-start;
}

.col2 a,
.col3 a,
.col2 button,
.col3 button {
  min-height: var(--half-header) !important;
  color: #d4d4d4;
}

.col2 a:focus-visible,
.col3 a:focus-visible,
.col2 button:focus-visible,
.col3 button:focus-visible {
  outline-color: #d4d4d4 !important;
}

.col3 {
  justify-content: flex-end;
  padding-right: .375rem;
  margin-left: auto;
}

.nav {
  width: 100%;
  height: 100%;
}

.nav-list {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.nav-link {
  position: relative;
  padding-left: .375rem !important;
  color: #d4d4d4 !important;
}

.nav-link::before {
  position: absolute;
  left: 0;
  color: transparent;
  content: '>';
}

.nav-item {
  width: auto;
  margin-left: .375rem;
}

.theme-btn--filler,
.theme-btn--header,
.theme-btn--skeleton,
.github-btn--header {
  width: var(--half-header) !important;
  height: var(--half-header) !important;
  border: none !important;
  color: rgba(255, 255, 255, .6) !important;
}

.github-btn--header svg,
.theme-btn--header svg,
.menu-btn--header svg {
  color: #d4d4d4 !important;
  fill: #d4d4d4 !important;
}

.github-btn--header {
  margin-right: var(--p5);
}

.theme-btn--header {
  padding: .3rem !important;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--brhalf);
}

.logo-svg {
  width: 2.5rem !important;
  height: 2.5rem !important;
  fill: #000;
  filter: invert(0);
  opacity: .8;
}

.menu-btn--header {
  display: none !important;
  height: var(--half-header);
}

/* 
  --linear-share2: linear-gradient(150deg, var(--secondary4) 0%, var(--secondary5) 50%, #0077D2 95%);

*/
/* #0077D2 */
.log-in--btn {
  height: 2.125rem !important;
  padding: 0 .75rem !important;
  border: 1px solid rgba(255,255,255,.1) !important;
  border-radius: var(--br2) !important;
  margin-top: 2px;
  margin-right: var(--p6);
  background-image: var(--linear-share3) !important;
}

.github-btn--header:not(:disabled):hover svg,
.theme-btn--header:not(:disabled):hover svg {
  color: #fafafa !important;
  fiLL: #fafafa !important;
}

.nav-link:hover {
  color: #fafafa !important;
  text-decoration: line-through;
}

.nav-link:hover::before {
  color: #fafafa;
}

.logo:hover .logo-svg {
  filter: invert(1);
  transition: all .2s ease-in-out;
}

.logo:focus-visible {
  box-shadow: var(--bs2);
}

.logo:focus-visible .logo-svg {
  fill: #777;
}

@keyframes div-text-hover {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@media screen and (max-width: 540px) {
  .menu-btn--header {
    display: flex !important;
  }

  .col2 {
    display: none;
  }

  .github-btn--header,
  .theme-btn--header,
  .theme-btn--skeleton {
    display: none !important;
  }
}

@media screen and (max-width: 380px) {
  .log-in--btn {
    min-width: auto !important;
    width: fit-content;
  }
}