.header-filler,
.header {
  height: var(--header-height) !important;
  min-height: var(--header-height) !important;
  border-bottom: 1px solid var(--black4);
}

.header {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  background-color: var(--black1);
}

.header a,
.header button {
  height: var(--half-header) !important;
  min-height: var(--half-header) !important;
}

.content {
  display: flex;
  width: 100%;
  max-width: var(--max-width-lg);
  height: 100%;
  padding: 0 var(--p2);
  margin: 0 auto;
}

.col1,
.col2,
.col3 {
  display: flex;
  width: auto;
  height: 100%;
  align-items: center;
}

.col1 {
  justify-content: center;
  padding-left: .375rem;
}

.col2 {
  width: 100%;
  justify-content: flex-start;
}

.col3 {
  justify-content: flex-end;
  padding-right: .375rem;
  margin-left: auto;
}

.nav {
  width: 100%;
  height: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav-link {
  color: var(--grey4);
  display: inline-flex;
  align-items: center;
  background-color: var(--black1);
  margin-left: var(--p5);
  font-size: 0.825rem;
  font-weight: 400;
  padding: 0 var(--p2);
  position: relative;
  border: 1px solid transparent;
}

.logo,
.theme-btn--filler,
.theme-btn--header {
  width: var(--half-header) !important;
  border-radius: var(--brhalf) !important;
  border: none !important;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.log-in--btn {
  margin-right: var(--p6);
  border: 1px solid transparent !important;
  color: var(--grey4) !important;
  box-shadow: var(--bs3);
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  height: 1px;
  background-color: transparent;
  transform: scaleX(0);
  transition-timing-function: var(--bez-4);
  transition-duration: 150ms;
  transition-property: background-color, transform;
}

.nav-link:hover::after {
  transform: scaleX(1);
  background-color: var(--grey4);
}

.logo:hover {
  filter: invert(1);
  transition: all .2s ease-in-out;
}

.log-in--btn:disabled {
  pointer-events: none;
  user-select: none;
}

.log-in--btn:not(:disabled):hover {
  border-color: var(--grey5) !important;
  background-color: var(--black1) !important;
}