.wrapper {
  position: relative;
  display: flex;
  width: auto;
  max-height: min-content;
  height: auto;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--p8) 0 var(--p9);
  border-radius: var(--br3);
  margin: var(--p4) auto;
  box-shadow: var(--bs1);
  overflow-y: scroll;
  background-color: var(--black1);
  border: 1px solid var(--black1);
}

.wrapper:focus-within {
  box-shadow: var(--bs2);
  border-color: var(--black2);
  background-color: var(--grey11);
  transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.wrapper::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

.wrapper::-webkit-scrollbar-thumb {
  min-height: 40px;
  border: none;
  border-radius: var(--br1);
  background-color: var(--grey9);
}

.wrapper:hover::-webkit-scrollbar-thumb,
.wrapper:focus::-webkit-scrollbar-thumb {
  background-color: var(--grey7);
}

.wrapper::-webkit-scrollbar-thumb:active {
  background-color: var(--grey5);
}

.form {
  display: flex;
  width: 100%;
  min-width: var(--min-form-width);
  max-width: var(--max-form-width);
  height: 90%;
  padding-top: var(--p8);
  flex-direction: column;
  animation: fadeIn 150ms ease-in-out;
}

.disabled {
  position: relative;
  opacity: .7;
  pointer-events: none;
  user-select: none;
}

.disabled * {
  pointer-events: none;
  user-select: none;
}

.disabled input:not([type="checkbox"]) {
  position: relative;
  animation: skeleton-loading 8s ease-in-out infinite;
  background-color: transparent !important;
  background-image: var(--linear2) !important;
  background-size: 400% 100%;
  color: transparent !important;
  pointer-events: none !important;
  user-select: none !important;
}

.fieldset {
  position: relative;
  display: flex;
  min-width: 100%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2.5rem;
  margin: 0 auto;
  margin-bottom: .25rem;
}

.fieldset:nth-child(4n) {
  padding-bottom: 2.5rem;
}

.checkbox-wrapper {
  width: auto !important;
  min-width: 4rem;
  height: 100%;
  flex-direction: row;
  align-items: center !important;
  justify-content: flex-start !important;
  padding: var(--p4) var(--p4) var(--p8) 0;
  margin: 0 !important;
  font-weight: 400;
}

.submit {
  width: 100% !important;
  margin-left: auto;
  background-color: var(--secondary1) !important;
  color: #fff !important;
  font-size: .85rem !important;
}

.remember-text {
  margin-left: var(--p4);
  color: var(--grey4);
  font-size: .825rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.statement-text {
  display: inline-flex;
  width: 100%;
  height: 2rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  color: var(--grey4);
  font-size: .85rem;
  text-wrap: nowrap;
}

.statement-text hr {
  width: 20%;
  height: 1px;
  background-color: var(--grey9);
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0
  }

  100% {
    background-position: -200% 0
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 540px) {
  .wrapper {
    width: 90%;
  }

  .form {
    width: 100%;
    min-width: 100%;
  }
}

@media screen and (max-width: 380px) {
  .wrapper {
    width: 90%;
    padding: var(--p4);
  }

  .form {
    width: 100%;
    min-width: 100%;
  }
}